@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  color-scheme: dark;
  --nav-height: 80px;
}
/* *:focus {
  @apply outline-none ring-2 ring-bluish-500 ring-opacity-50;
} */

html {
  height: 100%;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

:root,
html,
body {
  @apply bg-gradient-to-b from-black to-gray-900 text-zinc-200;
}

@layer base {
  .height-screen-helper {
    min-height: calc(100vh - var(--nav-height) - 1px);
  }
}
.btn {
  @apply rounded-lg px-4 py-2 font-medium shadow-lg;
}

.btn-primary {
  @apply bg-blue-600 text-white hover:bg-blue-500;
}

.btn-secondary {
  @apply bg-zinc-100 text-zinc-900 hover:bg-zinc-200;
}

.btn-flex {
  @apply flex items-center justify-center;
}
